<strong>Olá {{ name }},</strong>
<p>O seu pedido de auxílio foi respondido pela nossa equipe:</p>
<p>
    <strong>Pergunta:</strong><br/>
    {{ question }}<br/>
    <small><strong>
    {{ created_at }}
    </strong></small>
</p>
<p>
    <strong>Resposta:</strong><br/>
    {{ answer }}<br/>
    <small><strong>
    {{ answer_at }}
    </strong></small>
</p>
