<strong>Seja bem-vindo {{ name }},</strong>
<p>a sua matrícula no plano <strong>{{ plan }}</strong> foi realizada com sucesso!</p>
<p>
    Confira os detalhes da sua matrícula:<br/>
    <strong>Data de início:</strong> {{ start_date }}<br/>
    <strong>Data de término:</strong> {{ end_date }}<br/>
    <strong>Valor total:</strong> R$ {{ price }}<br/>
</p>
